.op1{
	color: red;
	
}

#op2{
	color: #EA2CDC;
}
.titulo_principal{
	text-align: center;
	
	
}

span li {
	list-style:  none;
	display: inline;

}
.cont_titulo{
	border: red solid 2px;
	margin: 15px auto;
	width: 35%;
	background-image: linear-gradient(red, blue, green)
}

.barra_navegacion{
	border: red solid 2px;

}

.barra_lateral{
	border: red solid 2px;
	float: left;
	height: 1300px;
	padding-left: 16px;
}

.contenido_principal{
	border: red solid 2px;
	margin-left: 90px;
	padding-left: 20px;
}
.pie_pagina{
	border: red solid;
	clear: both;
	padding-left: 100px;
	text-align: center;
}
.video_archivo{
	text-align: center;
}
body{
	background-color: silver;
}